<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rycode.cottage.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.rycode.cottage.model.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="mail" column="mail" jdbcType="VARCHAR"/>
        <result property="roleIds" column="role_ids" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="isAdmin" column="is_admin" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        phone_number,mail,role_ids,
        created_at,updated_at,salt,
        is_admin
    </sql>

    <update id="recovery">
        update user
        set deleted_at = null
        where name = #{name}
    </update>
</mapper>
